<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Member"> 
	<insert id="insertDB" parameterType="member">
	INSERT INTO SMEMBER VALUES(#{mid},#{mpwd},#{mname},#{mphone},#{memail},#{mbirth})
	</insert>
	<select id="selectDB" parameterType="member" resultType="int">
	SELECT COUNT(*) FROM SMEMBER WHERE MID=#{mid} AND MPWD=#{mpwd}
	</select>
	<select id="selectList" parameterType="member" resultType="member">
	SELECT * FROM SMEMBER
	</select>
	<select id="selectDetail" parameterType="String" resultType="member">
	SELECT * FROM SMEMBER WHERE MID=#{detail}
	</select>
	<delete id="del" parameterType="String">
	DELETE FROM SMEMBER WHERE MID=#{del}
	</delete>
	<select id="select" parameterType="String" resultType="member">
	SELECT * FROM SMEMBER WHERE MID=#{detail}
	</select>
	<update id="update">
	UPDATE SMEMBER SET MPWD=#{mpwd},MNAME=#{mname},MPHONE=#{mphone},MEMAIL=#{memail},MBIRTH=#{mbirth} WHERE MID=#{mid}
	</update>
 </mapper>